[alias]
	lg = log --oneline
	choose-commit = !git lg | fzf --reverse --no-sort --tiebreak=index | awk '{print $1}'
	cc = !git choose-commit | pbcopy
	qc = !git branch | fzf --reverse --no-sort --tiebreak=index | xargs -I % git checkout %
	fixup = !git choose-commit | xargs -I % git commit --no-verify --fixup %
	squish = !git choose-commit | xargs -I % git rebase -i --autosquash %
	
